*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin-left: 1%;
    margin-right: 4%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-item{
    margin-right: 10%;
}

.panel{
    width: 100%;
    height: 400px;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  


  #hero{

    background-image: url(soviet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 670px;

  }

  #two{
    background-color: skyblue;

  }

  #three{
    background-color: lightgoldenrodyellow;
  }